<h1>Listing menus</h1>

<table>
  <% @menus.each do |menu| %>
    <tr>
      <td class="restaurant_info">
        <%= @restaurant.try(:name) %>
      </td>
      <td class="menu_info">
        <dl>
          <dt>
            <%= menu.name %> - <%= number_to_currency(menu.price) %>
          </dt>
          <dd><%= menu.description %></dd>
        </dl>
      </td>
      <td class="menu_actions">
        <%= link_to 'Show', restaurant_menu_path(@restaurant, menu) %>
        <%= link_to 'Edit', edit_restaurant_menu_path(
            @restaurant, menu) %>
        <%= link_to 'Destroy', [@restaurant, menu],
            method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Menu', new_restaurant_menu_path(@restaurant) %>
