<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<%= link_to edit_restaurant_menu_path(@restaurant, @menu) do %>
  <span class="glyphicon glyphicon-edit"></span> Edit
<% end %> |
<%= link_to restaurant_menus_path(@restaurant) do %>
  <span class="glyphicon glyphicon-chevron-left"></span> Back
<% end %>