<h1>Listing orders</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Time of Order</th>
      <th>Restaurant</th>
      <th>Order Size</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= order.updated_at.
              in_time_zone("Pacific Time (US & Canada)").
              strftime('%m/%d/%Y %l:%M %P') %>
        </td>
        <td><%= order.items.first.menu.restaurant.name %></td>
        <td><%= number_to_currency(order.total_price) %></td>
        <td><%= order.name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
