<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th class="center">Time of Order</th>
      <th class="center">Restaurant</th>
      <th class="center">Order Size</th>
      <th class="center">Name</th>
      <th></th>

      <% if current_user.admin %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="center">
          <%= order.updated_at.
              in_time_zone("Pacific Time (US & Canada)").
              strftime('%m/%d/%Y %l:%M %P') %>
        </td>
        <td class="center"><%= order.items.first.menu.restaurant.name %></td>
        <td class="center"><%= number_to_currency(order.total_price) %></td>
        <td class="center"><%= order.name %></td>
        <td>
          <%= link_to order do %>
            <i class="glyphicon glyphicon-zoom-in"></i> Details
          <% end %>
        </td>

        <!-- If Admin, show 'Edit' and 'Destroy' buttons-->
        <% if current_user.admin %>
          <td>
            <%= link_to edit_order_path(order) do %>
              <i class="glyphicon glyphicon-edit"></i> Edit
            <% end %>
          </td>
          <td>
            <%= link_to order, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="glyphicon glyphicon-trash"></i> Delete
            <% end %>
          </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to root_path do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Return to restaurant list
<% end %>

