<legend>Order Details</legend>
<p>
  Order placed <%= time_ago_in_words(@order.updated_at) %> ago
  <br>
  Order placed on:
  <%= @order.updated_at.in_time_zone("Pacific Time (US & Canada)").
      strftime('%m/%d/%Y %l:%M %P') %>
</p>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">

      <table class="table table-responsive">
        <colgroup>
          <col class="col-lg-2"></col>
          <col class="col-lg-1"></col>
          <col class="col-lg-1"></col>
          <col class="col-lg-1"></col>
        </colgroup>

        <thead class="bold">
          <tr>
            <th>Item</th>
            <th class="center">Price</th>
            <th class="center">Quantity</th>
            <th class="center">Subtotal</th>
          </tr>
        </thead>

        <tbody>
          <% @order.items.each do |item| %>
            <tr>
              <td><%= item.menu.name %></td>
              <td class="center">
                <%= number_to_currency(item.menu.price) %>
              </td>
              <td class="center">
                <%= item.quantity %>
              </td>
              <td class="center">
                <%= number_to_currency(item.total_price) %>
              </td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr class="total_line bold">
            <td class="total_cell">TOTAL</td>
            <td class="total_cell"></td>
            <td class="total_cell"></td>
            <td class="total_cell center">
              <%= number_to_currency(@order.total_price) %>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-3">
    <legend>Restaurant Information</legend>
    <p>
      <strong><%= @order.items.first.menu.restaurant.name %></strong>
      <br>
      <%= number_to_phone(@order.items.first.menu.restaurant.phone,
          area_code: true) %>
      <br>
      <br>
      <br>
      <strong>
      <%= @order.items.first.menu.restaurant.address %><br>
      <%= @order.items.first.menu.restaurant.city %>,
      <%= @order.items.first.menu.restaurant.state %>
      </strong>
    </p>
  </div>
  <div class="col-lg-3">
    <legend>Customer Information</legend>
    <p>
      <strong><%= @order.name %></strong>
      <br>
      <%= @order.email %>
      <br>
      <%= number_to_phone(@order.phone, area_code: true) %>
      <br>
      <br>
      <strong>
      <%= @order.address %><br>
      <%= @order.city %>, <%= @order.state %>
      </strong>
    </p>
  </div>
</div>

<br>

<!-- <%= link_to 'Edit', edit_order_path(@order) %> | -->

<%= link_to orders_path do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Back
<% end %>
