<div class="panel panel-default">

  <div class="panel-heading center">Your Cart</div>

  <div class="table-responsive">
    <table class="table table-hover">
      <colgroup>
        <col class="col-md-2"></col>
        <col class="col-md-1"></col>
        <col class="col-md-1"></col>
        <!-- <col class="col-md-1"></col>  -->
      </colgroup>
      <thead class="bold">
        <tr>
          <th>Item</th>
          <th class="center">Quantity</th>
          <th class="center">Price</th>
        </tr>
      </thead>

      <tbody>
        <%= render(cart.items.order(:created_at)) %>
      </tbody>

    </table>
  </div>
  <p>Tax (8%): <%= number_to_currency(cart.total_price * 0.08) %></p>
  <p>Delivery Fee: $6.00</p>
  <p>TOTAL: <%= number_to_currency(cart.total_price * 1.08 + 6) %></p>

  <% unless current_page?(controller: 'orders', action: 'new') %>
    <div class="row">
      <div class="col-md-6 center">
        <%= link_to new_order_path, method: :get,
            class: "btn btn-success btn-sm" do %>

            <i class="glyphicon glyphicon-cutlery white"></i>
            <span class="white">Checkout</span>

        <% end %>
      </div>
    </div>
  <% end %>
  <br>
</div>

<% if false %>
      <tfoot>
        <tr class="total_line">
          <td class="total_cell">Tax (8%)</td>
          <td class="total_cell"></td>
          <td class="total_cell center">
            <%= number_to_currency(cart.total_price * 0.08) %>
          </td>
        </tr>
        <tr class="total_line">
          <td class="total_cell">Delivery Fee</td>
          <td class="total_cell"></td>
          <td class="total_cell center">
            <%= number_to_currency(6.00) %>
          </td>
        </tr>
        <tr class="total_line bold">
          <td class="total_cell">TOTAL</td>
          <td class="total_cell"></td>
          <td class="total_cell center">
            <%= number_to_currency(cart.total_price * 1.08 + 6) %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>


  <% unless current_page?(controller: 'orders', action: 'new') %>
    <div class="row">
      <div class="col-md-6 center">
        <%= link_to new_order_path, method: :get,
            class: "btn btn-success btn-sm" do %>

            <i class="glyphicon glyphicon-cutlery white"></i>
            <span class="white">Checkout</span>

        <% end %>
      </div>
    </div>
  <% end %>
  <br>
</div>
<% end %>