<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @restaurant.image_url %>
</p>

<%= link_to edit_restaurant_path(@restaurant) do %>
  <span class="glyphicon glyphicon-edit"></span> Edit
<% end %> |
<%= link_to restaurants_path do %>
  <span class="glyphicon glyphicon-chevron-left"></span> Back
<% end %>
