 <div class="container-fluid">
<div class="jumbotron">
    <h1>Delivery from your <br />
      favorite Irvine restaurants!</h1>
    <p>$6 flat rate delivery. No minimum order.</p>
</div>
</div>

<div class="row">
  <div class="col-md-12 center">

    <div class="row">
      <% cache ['store', Restaurant.latest] do %>
        <% @restaurants.each do |restaurant| %>
          <% cache ['restaurant', restaurant] do %>

            <div class="col-md-3">
              <div class="thumbnail">
                <%= link_to(image_tag(restaurant.image.url(:medium)),
                    store_path(restaurant.name)) %>

                <div class="caption">
                  <h4><%= restaurant.name %></h4>
                  <h5><%= restaurant.description %></h5>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if false %>
  <div class="col-md-3">
    <%= hidden_div_if(@cart.items.empty?, class: "side_bar") do %>
      <%= render @cart %>
    <% end %>
  </div>
  <% end %>
</div>

