<div class="row">
  <div class="col-md-9">
    <div class="center">
      <h1><%= @restaurant.name %></h1>
    </div>

    <% logger.info "Restaurant name is #{@restaurant.name}" %>
    <% logger.info "#{@restaurant.name} has #{@menus.count} items" %>

    <ul class="nav nav-tabs nav-justified">
      <% categories = @menus.to_a.map { |m| m.category }.uniq %>
      <% categories = categories.reverse %>

      <% categories.each_with_index do |category, index| %>

        <% if index == 0 %>
          <li class="active">
        <% else %>
          <li>
        <% end %>

        <%= link_to "#{category}", "\##{category}",
            :'data-toggle' => "tab" %>

        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% categories.each_with_index do |category, index| %>

        <% if index == 0 %>
          <div class="tab-pane fade in active" id="<%= category %>">
        <% else %>
          <div class="tab-pane fade" id="<%= category %>">
        <% end %>

          <% tab_menus = @menus.select { |menu|
              menu.category == category } %>
          <%= render 'store/listing', :menus => tab_menus %>

        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="cart">
    <%= hidden_div_if(@cart.items.empty?, class: "side_bar") do %>
      <%= render @cart %>
    <% end %>
  </div>
  </div>
</div>


<div class="back_button">
  <div class="row">

  <%= link_to root_path do %>
    <i class="glyphicon glyphicon-chevron-left"></i> Back to all restaurants
  <% end %>

  </div>
</div>


