<div class="row">
  <div class="col-md-9">
    <div class="center">
      <h1><%= @restaurant.name %></h1>
    </div>

    <ul class="nav nav-pills nav-justified">
      <% categories = @menus.to_a.map { |m| m.category }.uniq %>


      <% categories.each_with_index do |category, index| %>

        <% if index == 0 %>
          <li class="active">
        <% else %>
          <li>
        <% end %>

        <%= link_to "#{category}", "\##{clean_category(category)}",
            :'data-toggle' => "pill" %>

        </li>
      <% end %>
    </ul>

    <div class="pill-content">
      <% categories.each_with_index do |category, index| %>

        <% if index == 0 %>
          <div class="pill-pane fade in active" id="<%= clean_category(category) %>">
        <% else %>
          <div class="pill-pane fade" id="<%= clean_category(category) %>">
        <% end %>

          <% pill_menus = @menus.select { |menu| menu.category == category } %>
          <%= render 'store/listing', :menus => pill_menus %>

        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="cart">
    <%= hidden_div_if(@cart.items.empty?, class: "side_bar") do %>
      <%= render @cart %>
    <% end %>
  </div>
  </div>
</div>


<div class="back_button">
  <div class="row">

  <%= link_to root_path do %>
    <i class="glyphicon glyphicon-chevron-left"></i> Back to all restaurants
  <% end %>

  </div>
</div>


