<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="center">
  <h1><%= @restaurant.name %></h1>
</div>

<div class="row">
  <% @menus.each do |menu| %>

    <div class="col-md-6 well">
      <div class="menu_listing_name">
        <h4>
          <%= menu.name %> - <%= number_to_currency(menu.price) %>
        </h4>

        <%= link_to items_path(menu_id: menu), method: :post,
          class: "btn btn-primary btn-sm store_button" do %>
            <i class="glyphicon glyphicon-plus white"></i>
            <span class="white">Add to cart</span>
        <% end %>
      </div>
      <div class="menu_listing_description">
        <%= menu.description %>
      </div>
      <br>
    </div>

  <% end %>
</div>

<%= link_to root_path do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Back
<% end %>