<div class="row">
  <div class="col-md-9">
    <div class="center">
      <h1><%= @restaurant.name %></h1>
    </div>

    <ul class="nav nav-tabs nav-justified">
      <li class="active"><%= link_to "Option A", '#appetizers',
                          id: "option-a", :'data-toggle' => "tab" %></li>
      <li><%= link_to "Option B", '#entrees',
                          id: "option-b", :'data-toggle' => "tab" %></li>
      <li><%= link_to "Option C", '#desserts',
                          id: "option-c", :'data-toggle' => "tab" %></li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="appetizers">
        <p>This is the content for Option A</p>
      </div>
      <div class="tab-pane fade" id="entrees">
        <p>This is the content for Option B</p>
      </div>
      <div class="tab-pane fade" id="desserts">
        <p>This is the content for Option C</p>
      </div>
    </div>

    <% if false %>
    <div class="row">
      <%= render 'store/listing' %>
    </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= hidden_div_if(@cart.items.empty?, class: "side_bar") do %>
      <%= render @cart %>
    <% end %>
  </div>
</div>

<%= link_to root_path do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Back
<% end %>