

<nav class="navbar navbar-default navbar-fixed-bottom navbar-footer" role="navigation">
  <div class="navbar-inner">
    <div class="container">
<!--       <ul class="nav navbar-nav footer">
 -->        <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "© 2013 FlipOrder", about_path %></li>
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Vendors", vendor_path %></li>
        <li><%= link_to "Drivers", drivers_path %></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Facebook", "http://www.facebook.com/fliporder" %></li>
        <li><%= link_to "Twitter", "http://www.twitter.com/fliporder" %></li>
      </ul>
    </div>
  </div>
</nav>

<% if false %>
<div class="center">
  <%= link_to "About FlipOrder", about_path %> |
  <%= link_to "Restaurant Partners", vendor_path %> |
  <%= link_to "Become A Driver!", drivers_path %>
</div>
<% end %>

<% if false %>
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav navbar-nav footer">
        <li><%= link_to "About FlipOrder", about_path %></li>
        <li><%= link_to "Restaurant Partners", vendor_path %></li>
        <li><%= link_to "Become A Driver!", drivers_path %></li>
      </ul>
    </div>
  </div>
</div>
<% end %>